
.education-container {
    display: flex;
    max-height: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    top: 6rem;
}

.education-container div {
    margin: 0 1rem 0 1rem;
    width: 275px;
}

.education-container h2 {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 1.8rem;
}

.education-container h3 {
    font-weight: bolder;
    text-decoration: underline;
}

.education-container h4 {
    font-weight: bold;
    font-size: 1.2rem;
}

.education-container h5 {
 
    text-indent: 0.6rem;
}

.education-container p {
    text-indent: 1.9rem;
}