
.education-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 5%;
    top: 6rem;
}

.education-container div {
    margin: 0 1rem 0 1rem;
    width: 275px;
}

.education-container h2 {
    font-weight: bolder;
    text-decoration: underline;
}

.education-container h5 {
 
    text-indent: 0.6rem;
}

.education-container p {
    text-indent: 1.9rem;
}