
.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-top: -30px;

}

.stack {
    margin-bottom: -20px;
    margin-top: -25px;
    font-size: 1.5vh;
}

.projects-container .projects-description {
    line-height: 14px;
    padding: 0;
    margin: 0;
    font-size: 0.7rem;
}

.projects-container .h5 {
    font-size: 2.3vh;
    margin-top: -10px;
    margin-bottom: -5px;
    padding-top: 0;
    padding-bottom: 0;
}

.projects-container a {
    font-size: 0.9rem;
}

.projects-container ul {
    font-size: 1.5vh;
}

